<!-- This is authentic, hand-written HTML I wrote in 1996. -->
<html>
<head>
   <meta name="Author" content="Ginny Maive">
   <meta name="Classification" content="Personal Homepage">
   <meta name="Description" content="The personal website of Ginny Maive!">
   <meta name="keywords" content="ginny, maive, ginny mae, mae">
   <title>Ginny Maive!</title>

   <link rel="icon" href="/favicon.ico">
</head>
<body bgcolor="#FFFFFF">

  <table width="75%"><tr><td>
	<center><table cellpadding="3" cellspacing="0" border="0"><tr><td valign="CENTER"><a href="/"><img src="/images/top.gif" width="100" height="65" border="0" alt="Ginny Maive website LOGO!!"></a></td>
<td valign="CENTER">
  <p align="CENTER"><a href="/lol/ad/">
      <img src="/images/delphi1.gif" height="60" width="468" alt="" border="2"></a><br><small><a href="/lol/ad/">Click Here!</a></small></p>
	</td></tr></table></center>
</td></tr></table>
<table cellpadding="0" cellspacing="0" width="75%" border="0" bgcolor="GRAY"><tr><td align="RIGHT"><font  color="White">&nbsp;</font></td></tr></table>
<table cellpadding="0" cellspacing="0" width="75%" border="0">
<tr>
<td valign="TOP" width="2" bgcolor="GRAY"></td>
<td valign="TOP" width="200" bgcolor="#CFCFCF">
<table cellpadding="3" cellspacing="0" width="75%" border="0" bgcolor="#CFCFCF">
  <tr><td>

      <br>
      <a href="/"><center><img src="/images/88x31/ginny_button.gif"></center></a>
      <br>
<font><br>
  <b>

    <b><i>Site Map</i></b><hr>
    <li> <a href="/">Home</a><BR>
    <li> <a href="/new/">Gender updates</a><br>
    <li> <a href="/faq/">FAQ</a><br>
    <li> <a href="/about/">About me!!</a><br>
    <!--<li> <a href="/tmi/">T.M.I.</a><br>-->
  <img src="/images/icons/pp.jpg" width="18" height="18" alt="pronouns page!" title="pronouns page!"> <a href="https://pronouns.cc/@ginny" rel="me">My Pronouns</a><br>
  <br><br><br>
  
  <b><i>Talk to Me!</i></b><hr>
  <small>always interested in talking about gender or dorky stuff :)</small><br><br>
  <img src="/images/icons/signal.svg" width="18" height="18" alt="signal" title="signal"> ginny.42<br>  
  <img src="/images/icons/matrix.png" width="18" height="18" alt="matrix" title="matrix"> <a href="https://matrix.to/#/@ginny:mae.lol">@ginny:mae.lol</a><br>
  <img src="/images/icons/xmpp.png" width="18" height="18" alt="xmpp" title="xmpp"> ginny@aberrata.net</a><br>
<img src="/images/icons/discord.png" width="18" height="18" alt="discord" title="discord yeah i got my username i wanted without those numbers i rule"> gintoxicating<br>
<img src="/images/icons/email.png" width="18" height="18" alt="email" title="email. i'm old enough that i like email still sorry"> <a href="mailto:ginny@mae.lol">ginny@mae.lol</a><br>
  <img src="/images/icons/icq.png" width="18" height="18" alt="icq but jk" title="remember icq? why do i still remember my icq number"> 1893323<br>


  <br><br><br>

  <b><i>More Me Links!!</i></b><hr>
  <small>i post regularly on mastodon if you just cant get enough ginny</small><br><br>
  <img src="/images/icons/fedi.png" width="18" height="18" alt="mastodon / the fediverse" title="mastodon / the fediverse"> <a href="https://mastodon.social/@gintoxicating" rel="me">mastodon!</a><br>
  <img src="/images/icons/fedi.png" width="18" height="18" alt="mastodon, but longer" title="mastodon, but longer"> <a href="https://infodump.ing/@ginny" rel="me">verbose mastodon!</a><br>
  <img src="/images/icons/steam.png" width="18" height="18" alt="steam profile" title="steam profile"> <a href="https://steamcommunity.com/id/GinnyMaive/" rel="me">steam!</a><br>
  <img src="/images/icons/github.png" width="18" height="18" alt="github" title="github"> <a href="https://github.com/GinnyMaive/" rel="me">github</a><br>

  <br><br><br>
  
  <b><i>My Friends!</i></b><hr>
<li> <a href="https://aberrata.net/~mel/">Minnie Mel</a><br>
  <li> <a href="https://le.alphamethyl.barr0w.net/~elysia/">elysia</a><br>
  <li> <a href="https://prudencespossumpad.neocities.org/">Prudence</a><br>

  <br><br><br>

<center>
  <form method="get" action="/lol/newsletter/">
    <input type="hidden" name="lol for real" value="why would i have a newsletter">
<b>My Newsletter!</b><hr>
<input type="text" size="13" value="(your email)"><br>
<input type="submit" value="Subscribe!"><br>
</form>
</center>

<br><br><br>

<center>
  <table><tr><td><a href="https://aberrata.net/~mel/"><img border="0" src="/images/88x31/mel.gif"></a>
      </td>
      <td>
<a href="https://le.alphamethyl.barr0w.net/~elysia/"><img border="0" src="/images/88x31/elysia.png"></a>
	</td>
    </tr>
    <tr>
      <td>
	<a href="https://chloecat.neocities.org/"><img border="0" src="/images/88x31/chloe.png"></a>
      </td>
      <td>
	<a href="https://shonk.social/@NumbersCanBeFun"><img border="0" src="/images/88x31/numberscanbefun.png"></a>
	</td>
    </tr>
    <tr>
      <td><img border="0" src="/images/88x31/femalesite.gif"></td>
            <td><center><img border="0" src="/images/88x31/estrogen.gif"></td>
    </tr><tr>
      <td><a href="https://www.iso.org/iso-8601-date-and-time-format.html"><img src="/images/88x31/iso8601.png" border="0"></a></td>
            <td>
        <a href="https://cyber.dabamos.de/88x31/index.html"><img border="0" src="/images/88x31/88by31.gif"></a>
      </td>
    </tr>
       </table>  
</center>

<br><br><br><br>

</td></tr>
</table>
</td>
<td valign="TOP" width="2" bgcolor="GRAY"></td>
<td valign="TOP" bgcolor="WHITE">
<table cellpadding="30" cellspacing="0" width="90%" border="0">
<tr><td>

<br>

<h1>{{ title }}</h1>

{{ content | safe }}

<br><br><br><br><br><br><br>
</td></tr>
</table>
</td>
<td valign="TOP" width="2" bgcolor="GRAY"></td>
</tr>
</table>
<table cellpadding="0" cellspacing="0" width="75%" border="0" bgcolor="GRAY"><tr><td align="RIGHT"><font color="White">Copyright &copy; 1997-1998 by <a href="/about/">Ginny Maive</a>.  All rights reserved.</font></td></tr></table>

<script data-goatcounter="https://ginny.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
</body>
</html>
