{% extends "base.njk" %}

{% block content %}

    <section class="site-contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <h1 class="site-contact-title">
              {{title}}<span>{{subTitle}}</span>
            </h1>
          </div>
          <div class="col-lg-6 ml-auto">
            <div class="site-contact-form">
	      {{content | safe}}
            </div>
          <div class="col-lg-6">
              <p class="">
              {% for contactInfo in footer.contactsInfo %}
                <a href="{{contactInfo.link}}"><img src="{{contactInfo.icon}}" width=32 height=22 border=0 style="padding-right: 10px">{{contactInfo.text}}</a>
                <br>
              {% endfor %}
              </p>

          </div>
	</div>
	</div>
	</div>

    </section>
  
{% endblock %}
{% block workTogether %}{% endblock %}
